---
import MainLayout from "../../layout/MainLayout.astro";
import Head from "../../layout/Head.astro";
---

<Head title="Success" />

<MainLayout>
  <h1 class="text-3xl">You Have Create The Account</h1>
  <a class="text-blue-400 text-xl" href="/login">Login</a>
</MainLayout>
